/* https://docs.asciidoctor.org/asciidoctor/latest/html-backend/default-stylesheet/#customize-docinfo */
/* https://docs.asciidoctor.org/asciidoctor/latest/html-backend/default-stylesheet/#customize-extend */
/* https://fonts.google.com/icons?selected=Material+Symbols+Outlined:location_on:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=location */

@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";


/* The PDF export done with playwright uses the media print class                   */
/* https://playwright.dev/docs/api/class-page#page-pdf                              */
/* The links in the resulting PDF are black                                         */
/* To debug this I had to use the debug mode shown in:                              */
/* https://devtoolstips.org/tips/en/debug-print-css-styles/                         */
/* I found that the asciidoc css seems to set the color and text-decoration to none */
/* I fix the values manually here                                                   */
@media print{
    a{  
        color:#2156a5 !important;
        text-decoration: underline !important;
    }
    
}